<div class="dashboard_wrapper">
    <app-content-header [title]="'Home'" [description]="'An angular test project :-)'"></app-content-header>

    <div class="dashboard_wrapper_contents">
        <table class="splash-box-shadow">
            <thead>
                <th align="center">User</th>
                <th align="center">Tel no</th>
                <th align="center">Age</th>
                <th align="center">Registered</th>
                <th align="center">Gender</th>
            </thead>

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">FEMALE</span>
                </td>
            </tr>            

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>            

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>            

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>            

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>            

            <tr>
                <td align="center">
                    <div class="table_td_user table-td">
                        <div class="table_td_user_avatar">
                            <img class="avatar" src="/assets/images/portrait.jpg" alt="">
                        </div>
                        <div class="table_td_user_info">
                            <p class="table_td_user_info_name">John Doe</p>
                            <p class="table_td_user_info_email">johndoe@emaildomain.com</p>
                            <p class="table_td_user_info_location">
                                <i class="material-icons">location_on</i>
                                Nairobi
                            </p>
                        </div>
                    </div>
                </td>
                <td align="center"><span class="table-td">0799164302</span></td>
                <td align="center"><span class="table-td">25</span></td>
                <td align="center"><span class="table-td">21/04/1998</span></td>
                <td align="center">
                    <span class="table-td_gender">MALE</span>
                </td>
            </tr>            
        </table>
    </div>
</div>
