<div class="dashboard_wrapper">
    <app-content-header [title]="'Home'" [description]="'An angular test project :-)'"></app-content-header>

    <div class="dashboard_wrapper_contents">
        <!-- make sure UI is populated before loading table UI -->
        <ng-container *ngIf="users.length">
            <table class="splash-box-shadow">
                <thead>
                    <th align="center">User</th>
                    <th align="center">Tel no</th>
                    <th align="center">Age</th>
                    <th align="center">Registered</th>
                    <th align="center">Gender</th>
                </thead>
                <ng-container *ngFor="let user of users">
                    <tr>
                        <td align="center">
                            <div class="table_td_user table-td">
                                <div class="table_td_user_avatar">
                                    <img class="avatar" [src]="user?.picture?.medium" alt="">
                                </div>
                                <div class="table_td_user_info">
                                    <p class="table_td_user_info_name">{{user?.name?.first}} {{user?.name?.last}}</p>
                                    <p class="table_td_user_info_email">{{user?.email}}</p>
                                    <p class="table_td_user_info_location">
                                        <i class="material-icons">location_on</i>
                                        {{user?.location?.city}}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td align="center"><span class="table-td">{{user?.phone}}</span></td>
                        <td align="center"><span class="table-td">{{user?.dob?.age}}</span></td>
                        <td align="center"><span class="table-td">{{user?.registered?.age}}</span></td>
                        <td align="center">
                            <span class="table-td_gender">{{user?.gender}}</span>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </ng-container>
    </div>
</div>
