.main_wrapper{
    background-color: var(--color-bg);
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &_sidebar{
        flex: 1;
    }
    &_contents{        
        background-color: var(--color-light-bg);
        border-top-left-radius: var(--border-radius-xl);
        flex: 5;
    }
}


@media (max-width: 992px){
    .main_wrapper{
        flex-direction: column;
        overflow-y: auto;
        height: unset;
        min-height: 100vh;
    }
}