.sidebar_wrapper{
    padding: 0 2rem;

    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;            
    }
    &_brand{
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-items: center;

        p{
            color: var(--color-light-text);
        }

        &_icons{
            margin-left: auto;

            .humburger{
                display: none;
            }
        }
        i{
            margin-left: 0.5rem;
            cursor: pointer;
            &.logo{                
                color: var(--color-accent);
            }
        }
    }

    &_user{
        padding: 2rem;
        border-top: 1px solid ;
        border-top: 1px solid var(--color-separator);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_name{
            font-weight: 500;
        }
    }

    &_action{
        display: flex;
        justify-content: center;
        
        button{
            padding: 1rem 2rem;
        }
    }

    &_nav{
        padding: 3rem 0;
        width: 100%;
        li{
            list-style: none;
            border-radius: var(--border-radius-xs);
            padding: 1rem 2rem; 
            margin: 1rem 0;
            display: flex;           
            align-items: center;

            i{
                margin-right: 1rem;
                color: var(--color-light-text);
            }
        }
        &-active{
            background-color: var(--color-white);
            box-shadow: var(--splash-box-shadow);
        }
    }

    .btn{
        padding: 1rem 2rem;
        flex: 1;
    }
}

@media (max-width: 992px){
    .sidebar_wrapper_user{
        width: 100%;
    }

    .sidebar_wrapper_brand_icons .humburger{
        display: inline-block;
    }
}