<div class="sidebar_wrapper">
    <div class="sidebar_wrapper_brand">
        <p>Jumia Frontend App</p>
        <div class="sidebar_wrapper_brand_icons">
            <i class="material-icons logo" routerLink="dashboard">view_in_ar</i>
            <i class="material-icons humburger" (click)="menu = !menu">menu</i>
        </div>
    </div>
    <nav *ngIf="menu" [@slideInOut]>
        <div class="sidebar_wrapper_user" *ngIf="dummyLoggedInUser">        
            <div class="sidebar_wrapper_user_image">
                <img class="avatar" [src]="dummyLoggedInUser.picture?.medium" alt="">
            </div>
            <p class="sidebar_wrapper_user_name medium-font">
                {{dummyLoggedInUser.name?.first}} {{dummyLoggedInUser.name?.last}}
            </p>
            <p class="accent-color">{{dummyLoggedInUser.email}}</p>
        </div>
        <div class="sidebar_wrapper_action">
            <button class="btn-accent splash-box-shadow" title="Just to spice up the UI :-)">Add a user <i class="material-icons">add</i></button>
        </div>
        <ul class="sidebar_wrapper_nav">
            <li class="cursor-pointer" routerLink="/dashboard" [routerLinkActive]="'sidebar_wrapper_nav-active'"><i class="material-icons">dashboard</i> Dashboard</li>
            <li class="cursor-pointer" routerLink="/example-nav" [routerLinkActive]="'sidebar_wrapper_nav-active'"><i class="material-icons">pets</i> example nav</li>
        </ul>
        <button class="btn">log Out <i class="material-icons">logout</i></button>
    </nav>

</div>
