.content_header_wrapper{
    padding: 2rem var(--padding-spacer-universal);
    border-bottom: 1px solid var(--color-separator);
    &_head{
        display: flex;
        align-items: center;

        .decoration-left{
            width: 0.5rem;
            height: 3rem;
            margin-right: 1rem;
        }
    }
}